@model Heroes.Models.Hero
@{
    ViewBag.Title = "About";
}


<div class="textm divind">
    <h1>HEROES <i class="glyphicon glyphicon-flash"></i></h1>
    <p class="lead "> Welcome to heroes world. Please, change hero! @ViewBag.Accid </p>
    <p> @ViewBag.CurrHero </p>
</div>

    <div class="row textm">
        <div class="col-md-3">
            <h2 class="divind">Humans</h2>
            <div class="divind ">
                <p class="margind">@Html.ActionLink("Human Warrior", "CreateHero", new { id = 1 }, new { @class = "btn btn-primary btn-xs" }) </pclass="margind">
                <a class="margind" href="~/Home/CreateHero/1"> <img class="img-circle imgind" src="~/Pictures/Heroes/human_warior.jpg" /> </a>
            </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Human Wizard", "CreateHero", new { id = 4 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/4"><img class="img-circle imgind " src="~/Pictures/Heroes/human_wizard.jpg" /> </a>
            </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Human Archer", "CreateHero", new { id = 5 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/5"><img class="img-circle imgind" src="~/Pictures/Heroes/human_archer.jpg" /> </a>
            </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Human Healer", "CreateHero", new { id = 6 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/6"><img class="img-circle imgind " src="~/Pictures/Heroes/human_hiller.jpg" /> </a>
        </div>
        </div>
        <div class="col-md-3">
            <h2 class="divind">Elfs</h2>
            <div class="divind">
                <p  class="margind">@Html.ActionLink("Elf Paladin", "CreateHero", new { id = 7 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a  class="margind" href="~/Home/CreateHero/7"> <img class="img-circle imgind" src="~/Pictures/Heroes/elf_warrior.jpg" /> </a>
                </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Elf Wizard", "CreateHero", new { id = 2 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/2"><img class="img-circle imgind" src="~/Pictures/Heroes/elf_wizard.jpeg" /> </a>
                </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Elf Archer", "CreateHero", new { id = 8 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/8"> <img class="img-circle imgind" src="~/Pictures/Heroes/elf_archer.jpg" /> </a>
            </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Elf Healer", "CreateHero", new { id = 9 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/9"> <img class="img-circle imgind" src="~/Pictures/Heroes/elf_wizzard.jpg" /> </a>
            </div>
        </div>
        <div class="col-md-3">
            <h2 class="divind">Undead</h2>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Undead Warrior", "CreateHero", new { id = 13 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/13"> <img class="img-circle imgind" src="~/Pictures/Heroes/undead_warior.jpg" /> </a> 
            </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Undead Wizard", "CreateHero", new { id = 14 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/14"> <img class="img-circle imgind" src="~/Pictures/Heroes/undead_wizard.jpg" /> </a>
            </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Undead Archer", "CreateHero", new { id = 15 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/15"><img class="img-circle imgind" src="~/Pictures/Heroes/undead_archer.jpg" /> </a>
            </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Undead Necromant", "CreateHero", new { id = 16 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/16"><img class="img-circle imgind" src="~/Pictures/Heroes/undead_necr.jpg" /> </a>
                </div>
        </div>
        <div class="col-md-3">
            <h2 class="divind">Orcs</h2>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Orc Warrior", "CreateHero", new { id = 10 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/10"><img class="img-circle imgind" src="~/Pictures/Heroes/Orc_warior.jpg" /> </a>
                </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Orc Wizzard", "CreateHero", new { id = 11 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/11"><img class="img-circle imgind" src="~/Pictures/Heroes/orc_wizzard.jpg" /> </a>
                </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Orc Archer", "CreateHero", new { id = 12 }, new { @class = "btn btn-primary btn-xs" })r</p>
                <a class="margind" href="~/Home/CreateHero/12"> <img class="img-circle imgind " src="~/Pictures/Heroes/orc_archer.jpg" /> </a>
            </div>
            <div class="divind">
                <p class="margind">@Html.ActionLink("Orc Shaman", "CreateHero", new { id = 3 }, new { @class = "btn btn-primary btn-xs" })</p>
                <a class="margind" href="~/Home/CreateHero/3"><img class="img-circle imgind" src="~/Pictures/Heroes/orc_shaman.jpg" /> </a>
            </div>
        </div>
    </div>
