@model Heroes.Models.Hero
@{
    ViewBag.Title = "About";
}


<div class="textm divind">
    <h1>HEROES <i class="glyphicon glyphicon-flash"></i></h1>
    <p class="lead "> Welcome to heroes world. Please, change hero! @ViewBag.Accid </p>
    <p> @ViewBag.CurrHero </p>
</div>

    <div class="row textm">
        <div class="col-md-3">
            <h2 class="divind">Humans</h2>
            <div class="divind">
                <p>@Html.ActionLink("Human Warrior", "CreateHero", new { id = 1 }) </p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/human_warior.jpg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Human Wizard", "CreateHero", new { id = 4 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/human_wizard.jpg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Human Archer", "CreateHero", new { id = 5 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/human_archer.jpg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Human Healer", "CreateHero", new { id = 6 })</p>
                <img  class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/human_hiller.jpg"/>
            </div>
        </div>
        <div class="col-md-3">
            <h2 class="divind">Elfs</h2>
            <div class="divind">
                <p>@Html.ActionLink("Elf Paladin", "CreateHero", new { id = 7 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/elf_warrior.jpg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Elf Wizard", "CreateHero", new { id = 2 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/elf_wizard.jpeg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Elf Archer", "CreateHero", new { id = 8 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/elf_archer.jpg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Elf Healer", "CreateHero", new { id = 9 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/elf_wizzard.jpg" />
            </div>
        </div>
        <div class="col-md-3">
            <h2 class="divind">Undead</h2>
            <div class="divind">
                <p>@Html.ActionLink("Undead Warrior", "CreateHero", new { id = 13 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/undead_warior.jpg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Undead Wizard", "CreateHero", new { id = 14 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/undead_wizard.jpg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Undead Archer", "CreateHero", new { id = 15 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/undead_archer.jpg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Undead Necromant", "CreateHero", new { id = 16 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/undead_necr.jpg" />
            </div>
        </div>
        <div class="col-md-3">
            <h2 class="divind">Orcs</h2>
            <div class="divind">
                <p>@Html.ActionLink("Orc Warrior", "CreateHero", new { id = 10 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/Orc_warior.jpg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Orc Wizzard", "CreateHero", new { id = 11 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/orc_wizzard.jpg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Orc Archer", "CreateHero", new { id = 12 })r</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/orc_archer.jpg" />
            </div>
            <div class="divind">
                <p>@Html.ActionLink("Orc Shaman", "CreateHero", new { id = 3 })</p>
                <img class="img-circle imgind img-thumbnail" src="~/Pictures/Heroes/orc_shaman.jpg" />
            </div>
        </div>
    </div>
