@model Heroes.Models.Hero

@{
    ViewBag.Title = "MyAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div>
    
    <div class="row">
        <div class=" divind col-md-offset-1 col-md-5 itemsl">
            <div>
                <img class="img-circle imgind" id="fll" src="@Url.Content(Model.AvatarUri)" alt="Alternate Text" />
                <h2>@Model.Name</h2>
                <h3>@Html.DisplayNameFor(model => model.Class) @Model.Class</h3>
                <h3>@Html.DisplayNameFor(model => model.Race) @Model.Race</h3>
                <h4>@Html.DisplayFor(model => model.Description)</h4>
            </div>
           

            <h4>@Html.DisplayNameFor(model => model.Health) @Html.DisplayFor(model => model.Health)</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="@(Model.Health)" aria-valuemin="0" aria-valuemax="1000" style="width:@(Model.Health/10)%;">
                </div>
            </div>

            <h4>@Html.DisplayNameFor(model => model.Mann) @Html.DisplayFor(model => model.Mann)</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="@(Model.Mann)" aria-valuemin="0" aria-valuemax="1000" style="width:@(Model.Mann/10)%;">
                </div>
            </div>

            <h4>@Html.DisplayNameFor(model => model.Armor) @Html.DisplayFor(model => model.Armor)</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@(Model.Armor)" aria-valuemin="0" aria-valuemax="100" style="width:@(Model.Armor)%;">
                </div>
            </div>
            <h4>@Html.DisplayNameFor(model => model.Power) @Html.DisplayFor(model => model.Power)</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="@(Model.Power)" aria-valuemin="0" aria-valuemax="100" style="width:@(Model.Power)%;">
                </div>
            </div>

            <h4>@Html.DisplayNameFor(model => model.Ability) @Html.DisplayFor(model => model.Ability)</h4>
            <div class="progress">
                <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="@(Model.Ability)" aria-valuemin="0" aria-valuemax="100" style="width:@(Model.Ability)%;">
                </div>
            </div>

            <h4>@Html.DisplayNameFor(model => model.Intelligence) @Html.DisplayFor(model => model.Intelligence)</h4>
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="@(Model.Intelligence)" aria-valuemin="0" aria-valuemax="100" style="width:@(Model.Intelligence)%;">
                </div>
            </div>
    
            <a href="~/Home/MyHeroes" class="btn btn-primary" data-toggle="tooltip" data-placement="left" title="Вернуться к списку героев"> <i class="fa fa-reply"></i> Назад</a>
        </div>

        <div class="col-md-offset-1 col-md-4 itemsl">
            <h1>@Html.DisplayNameFor(model => model.Items) @Html.DisplayFor(model => model.Items)</h1>
            <div id="carousl" class="carousel slide">

                <!--Индикаторы сладов-->
                <ol class="carousel-indicators">
                   <!-- <li class="active" data-target="#carousl" data-slide-to="0"></li> -->
                    @for (int i = 0; i <= (Model.Items == null ? 1 : Model.Items.ToArray().Length); i++)
                    {
                        <li data-target="#carousl" data-slide-to="@i"></li>

                    }
                </ol>

                <!--Слайды, контент-->
                <div class="carousel-inner divind">
                    <div class="item active">
                        <img class=" img-rounded" src="~/Pictures/start.jpg" height="200" width="270" />
                        <div class="carousel-caption">
                            <h3>111</h3>
                        </div>
                    </div>

                    @{
                        if (Model.Items != null)
                        {

                            foreach (Heroes.Models.Item it in Model.Items)
                            {
                            <div class="item">
                                <img class="img-circle imgaccit " src="@Url.Content(it.IconUri)" width="300" height="300" />
                                <div class="carousel-caption">
                                    <h2>@it.Mark</h2>
                                </div>
                            </div>
                              }
                            }
                        }
                </div>

                <!--Стрелки переключатели слайдов-->
                <a href="#carousl" class="right carousel-control" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <a href="#carousl" class="left carousel-control" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
            </div>
        </div>
    </div>   
    
</div>
