@model IEnumerable<Heroes.Models.Hero>

@{
    ViewBag.Title = "MyHeroes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Мои герои</h2>


<h3>
 Текущий герой @ViewBag.CurrHero    
</h3>

@foreach (var item in Model)
{

        <div class="col-sm-6 col-md-3 divind">
            <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
            <div class="media">
                <img class="img-circle imgind img-thumbnail" src="@Url.Content(item.AvatarUri)" />
                <div class="caption">                 
                    @Html.ActionLink("Выбрать", "ChangeCurrentHero", new { id = item.HeroId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Обзор героя", "MyAccount", new { id = item.HeroId }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Удалить", "Delete", new { id = item.HeroId }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>

}


